.header {
  text-align: center;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;

  text-align: center;
  background: rgba(240, 207, 101, 0.918);
  color:  rgb(99, 76, 1);
}
a {
  color: rgb(255, 240, 191);
  text-decoration: none;
}
a:hover {
  color:  #000;
}

body {
  background: rgba(238, 212, 125, 0.658);
  height: 100vh;
}

#gridArena {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  font-size: 0px;
  max-width: 90%;
  max-height: 65%;

  /* Border layout */
  border-style: solid;
  border-color: rgba(240, 207, 101, 0.918);
  border-radius: 8px;
  border-width: 5px;
  
}

#gridArena div {
  display: inline-block;
  vertical-align: top;
}

@media only screen and (max-height: 420px) {
  #gridArena {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
  }
}

@media only screen and (max-width: 420px) {
  
  h1 {
    font-size: 25px;
  }
}